
  h1 {
    margin-left: 20%;
    width: fit-content;
  }
  ul {
    font-size: xx-large;
    color: cadetblue;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 6rem;
    float: left;
    width: 6em;
  }
  #first{
    width: 40%;
    position: relative;
    left: 0;
    font-size: 25px;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
  }
  #display {
    clear: both;
    font-size: 30px;
    margin-left: auto;
    padding: auto;
    height: 40vh;
    margin-bottom: 10vh;
    
  }
  .food {
    color: blue;
    font-weight: 900;
    font-style: italic;
  }
  button {
    cursor: pointer;
    color:blue;
    display: flex;
    float: left;
    font-size:25px ;
    
  }
  #img {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    align-items: center;
  }
  #category {
    font-weight: 700;
  }
  .information {
    font-size: 15px;
  }
  
    
